[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/HomuHomu833-garbage/KernelSU-SuSFS
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/HomuHomu833-garbage/AnyKernel3-Universal9611
